.header1{
    text-align: center;
}
.header2{
    text-align: center;
}
nav{
    background-color: rgb(63, 27, 27);
}
.navbar-brand{
    color: aliceblue;
}
.nav-item{
    color: aliceblue;
}
.puppy{
    color: rgb(123, 66, 66);
}
main{
    background-color: blanchedalmond;
}
.chilling{
    background-color: rgb(123, 66, 66);
}